@import '../_config.scss';
$panelWidth: 300px;
.m-post_edit {
    padding-left: $distanceMiddle;
    padding-right: $distanceMiddle;
    .post-base {
        margin-right: $panelWidth + $distanceMiddle;
        .content {
            margin-bottom: $distanceMiddle;
        }
    }
    .post-info {
        width: $panelWidth;
        float: right;
        .meta {
            width: 100%;
            height: 700px;
            line-height: $inputHeight;
        }
    }
}
