@import '_config';
$dialogWidth: 520px;
$dialogWidthSmall: 300px;
$titleHeight: 60px;
.m-dialog {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 102;
    &.in {
        display: block;
    }
    .bg {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
        background-color: #000;
        opacity: 0.5;
        z-index: -1;
    }
    .content {
        width: $dialogWidth;
        margin: $distanceLarge * 2 auto 0;
        background-color: #fff;
    }
    .header {
        padding: 0 $distanceMiddle;
        border-bottom: 1px solid $borderColor;
        height: $titleHeight;
        .title {
            display: inline-block;
            line-height: $titleHeight;
            font-size: $fontSizeLarge;
            margin: 0;
        }
        .close {
            float: right;
            cursor: pointer;
            line-height: calc($titleHeight / 2);
            width: calc($titleHeight / 2);
            height: calc($titleHeight / 2);
            margin-top: calc($titleHeight / 4);
            text-align: center;
            color: $fontColorGray;
            font-size: $fontSizeLarge;
            &:hover {
                color: $fontColorMain;
            }
            &::before {
                content: "\f00d";
            }
        }
    }
    .body {
        padding: $distanceMiddle;
    }
    .footer {
        padding: 0 $distanceMiddle $distanceMiddle;
        text-align: center;
        button + button {
            margin-left: $distanceMiddle;
        }
    }
}

.m-alert,
.m-confirm {
    .content {
        width: $dialogWidthSmall;
    }
    .body {
        font-size: $fontSizeLarge;
        padding: $distanceLarge;
    }
}
