@import '_config';

$sideBarMenuHeight: 40px;
$sideBarPaddingLeft: 25px;
$sideBarSecendLevelPaddingLeft: 35px;

.m-sidebar{
    ul,li{
        list-style: none;
        padding: 0;
    }
    .menu {
        margin-top: $distanceMiddle;
        a {
            display: block;
            line-height: $sideBarMenuHeight;
            padding: 0 $sideBarPaddingLeft;
            color: $fontColorGray;
            border-left: 5px $mainDark solid;
            background-color: $mainDark;
            text-decoration: none;
            &.router-link-active, &:hover{
                color: $fontColorWhite;
                background-color: $mainDarkHover;
                border-left-color: $mainBlue;
            }
        }
        .fa.arrow {
            float: right;
            line-height: $sideBarMenuHeight;
            pointer-events: none;
            &:before {
                content: "\f104";
                color: $fontColorWhite;
            }
        }
        .active{
            .fa.arrow:before {
                content: "\f107";
            }
        }
        .nav-second-level {
            height: 0px;
            position: relative;
            overflow: hidden;
            transition: all .35s ease;
            a{
                padding-left: $sideBarSecendLevelPaddingLeft;
            }
        }

    }
}
