@import '_config';

@keyframes uil-default-anim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.m-loading {
    visibility: hidden;
    opacity: 0;
    // transition: opacity linear 300ms;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;    
    &.in {
        opacity: 1;
    }
    .loading-bg {
        position: fixed;
        left: 0;
        right: 0;
        top: $navBarHeight;
        bottom: 0;
        z-index: 100;
        background-color: #000;
        opacity: 0.5;
    }
    .loading-animate {
        z-index: 1001;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-75%);
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
        transform:scale(0.8);
        > div{
            top:80px;left:93px;width:14px;height:40px;background:#00b2ff;
            border-radius:10px;position:absolute;
            animation: uil-default-anim 1s linear infinite;
        }
        > div:nth-of-type(1) {
            animation-delay: -0.5s;
            transform:rotate(0deg) translate(0,-60px);
        }
        > div:nth-of-type(2) {
            animation-delay: -0.4166666666666667s;
            transform:rotate(30deg) translate(0,-60px);
        }
        > div:nth-of-type(3) {
            animation-delay: -0.33333333333333337s;
            transform:rotate(60deg) translate(0,-60px);
        }
        > div:nth-of-type(4) {
            animation-delay: -0.25s;
            transform:rotate(90deg) translate(0,-60px);
        }
        > div:nth-of-type(5) {
            animation-delay: -0.16666666666666669s;
            transform:rotate(120deg) translate(0,-60px);
        }
        > div:nth-of-type(6) {
            animation-delay: -0.08333333333333331s;
            transform:rotate(150deg) translate(0,-60px);
        }
        > div:nth-of-type(7) {
            animation-delay: 0s;
            transform:rotate(180deg) translate(0,-60px);
        }
        > div:nth-of-type(8) {
            animation-delay: 0.08333333333333337s;
            transform:rotate(210deg) translate(0,-60px);
        }
        > div:nth-of-type(9) {
            animation-delay: 0.16666666666666663s;
            transform:rotate(240deg) translate(0,-60px);
        }
        > div:nth-of-type(10) {
            animation-delay: 0.25s;
            transform:rotate(270deg) translate(0,-60px);
        }
        > div:nth-of-type(11) {
            animation-delay: 0.33333333333333337s;
            transform:rotate(300deg) translate(0,-60px);
        }
        > div:nth-of-type(12) {
            animation-delay: 0.41666666666666663s;
            transform:rotate(330deg) translate(0,-60px);
        }
    }
}

