{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    'plugin:vue/vue3-recommended'
  ],
  "parserOptions": {
    "es6": true,
    "ecmaVersion": 13,
  },
  rules: {
    "vue/no-use-v-if-with-v-for": "off",
    "vue/require-default-prop": "off",
    "vue/require-prop-types": "off",
    "vue/no-side-effects-in-computed-properties": "off",
    "vue/no-v-html": "off",
    "vue/valid-v-for": "off",
    "vue/require-v-for-key": "off",
    "arrow-parens": 0,
    "generator-star-spacing": 0,
    "quotes": ["error", "double", {"avoidEscape": true}],
    "indent": ["error", 4, {"SwitchCase": 1, "VariableDeclarator": 1}],
    "semi": ["error", "always"],
    "object-shorthand": ["error", "always"],
    "quote-props": ["error", "always"],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-spacing": ["error", "never"],
    "no-var": "error",
    "prefer-const": "error",
    "array-bracket-spacing": ["error", "never"]
  },
  "plugins": ["vue"]
}