@import '../../_config.scss';

$paginationSize: 34px;

.m-table{
    width: 100%;
    .action {
        margin-right: $distanceSmall;
        white-space: nowrap;
    }

    table{
        border-collapse: collapse;
        margin-bottom: $distanceMiddle;
        width: 100%;
        text-align: center;
        tr{
            border-bottom: 1px solid $borderColor;
        }
        td, th{
            padding: $distanceSmall $distanceMiddle;
            vertical-align: middle;
        }
        thead {
            background-color: $mainBg;
        }
        tbody tr:hover {
            background-color: $mainBgHover;
        }
    }


    .table-empty{
        font-size: $fontSizeLarge;
        text-align: center;
        line-height: 20em;
    }
}



.zpagenav{
    text-align: right;
    padding: 0 $distanceMiddle;
    >.page-link{
        float: left;
        vertical-align: middle;
        line-height: $paginationSize;
    }
    // https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.css
    ul.pagination {
        vertical-align: middle;
        display: inline-block;
        border-radius: 4px;
        li{
            display: inline;
            .sr-only{
                display: none;
            }
        }
        li span{
            display: inline-block;
            width: $paginationSize;
            height: $paginationSize;
            line-height: $paginationSize;
            color: $mainBlue;
            text-align: center;
            margin-left: -1px;
            background-color: #fff;
            border: 1px solid $borderColor;
            &:hover,&:focus{
                  color: $fontColorMain;
                  background-color: $mainBgHover;

            }
        }

        li:first-child span{
            margin-left: 0;
            border-top-left-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
        }
        li:last-child span{
            border-top-right-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }
        .active span, .active span:hover, .active span:focus{
            cursor: default;
            color: $fontColorWhite;
            background-color: $mainBlue;
            border-color: $mainBlue;
        }
        .disabled span, .disabled span:hover, .disabled span:focus{
            color: $fontColorGray;
            cursor: not-allowed;
            background-color: #fff;
        }
    }
}