
// primary color
$mainDark: #252C34;
$mainDarkHover: #454C54;
$mainBlue: #3E9FF9;
$mainBlueHover: #337ab7;
$mainBlueDark: #3c8dbc;
$mainBg: #F0F2F8;
$mainBgHover: #f0f0f0;
$shadowColor: #999;

// font
$fontColorMain: #343434;
$fontColorGray: #858892;
$fontColorWhite: #F9F9F9;

$fontSizeSmall: 12px;
$fontSizePrimary: 14px;
$fontSizeLarge: 16px;

// btn
$btnPaddingLeft: 25px;
$btnPaddingTop: 10px;

// border
$borderRadius: 4px;
$borderColor: #ddd;

// padding margin
$distanceLarge: 30px;
$distanceMiddle: 20px;
$distanceSmall: 10px;
$distanceExSmall: 5px;

$zIndexHigh: 1000;
$zIndexMiddle: 100;
$zIndexLow: 10;
$zIndexBottom: -1;

// input nomal
$inputHeight: 35px;

// nav bar
$navBarHeight: 30px;
