@import './_config.scss';
#app {
    height: 100%;
    background-color: $mainBg;
}

.container {
    height: 100%;
    padding-top: $navBarHeight;
    margin-top: -$navBarHeight;
    overflow-y: auto;
    .sidebar {
        height: 100%;
        width: $sideBarWidth;
        float: left;
    }
    .router-wrap {
        height: 100%;
        padding: $distanceMiddle;
        margin-left: $sideBarWidth;
        overflow-x: auto;
    }
    .router {
        min-height: 100%;
        padding-top: $distanceMiddle;
        padding-bottom: $distanceMiddle;
        background: #fff;
        box-shadow: 0px 0px 11px $shadowColor;
    }
}
